default: &default
  host: db
  adapter: postgresql
  encoding: unicode
  username: postgres
  password:
  pool: 5

development:
  <<: *default
  database: form_submission_file_download_app_development

test:
  <<: *default
  database: form_submission_file_download_app_test